.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form-input {
  background-color: #041220;
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}

.form-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #23003c;
  color: #00c5be;
  font-size: 15px;
}

.form-button:hover {
cursor: pointer;
}

.form-button:active {
  background-color: #9a00c5;
  color: #000000;
}